<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8"/>
    <title>Kosmopolitika Index</title>
</head>
<body>
    <h1 th:text="#{welcome}">Welcome</h1>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <img class="img-responsive" src="../static/resources/images/logo-kosmopolitika.png" th:src="@{/resources/images/logo-kosmopolitika.png}"/>
        </div>
        <br/>
        <br/>
        <div class="elementor-widget-wrap">
            <div data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <br/>
                    <h2 class="elementor-heading-title elementor-size-default">Kontakt</h2> </div>
            </div>
            <div data-element_type="widget" data-widget_type="heading.default">
                <div class="elementor-widget-container">
                    <h4 class="elementor-heading-title elementor-size-default">Kontakt, pretplata, saradnja i donacije</h4> </div>
            </div>
            <div data-element_type="widget" data-widget_type="text-editor.default">
                <div class="elementor-widget-container">
                    <div class="elementor-text-editor elementor-clearfix">
                        <p>Aleksandar Sjekloća: +381 62 622 433<br>E-mail: kosmopolitika.sjekloca@gmail.com</p> </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>