<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

  <body>
  
  
    <h2>Owner Information</h2>
  
  
    <table class="table table-striped" th:object="${clan}">
      <tr>
        <th>Name</th>
        <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
      </tr>
      <tr>
        <th>Address</th>
        <td th:text="*{address}" /></td>
      </tr>
      <tr>
        <th>City</th>
        <td th:text="*{city}" /></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td th:text="*{telephone}" /></td>
      </tr>
      <tr>
        <th>Type</th>
        <td th:text="*{clanType}" /></td>
      </tr>
      <tr>
        <th>Join Date</th>
        <td th:text="*{joinDate}" /></td>
      </tr>
      <tr>
        <th>Last Pay Date</th>
        <td th:text="*{lastPayDate}" /></td>
      </tr>
    </table>
  
    <a th:href="@{{id}/edit(id=${clan.id})}" class="btn btn-default">Edit
      Owner</a>

    <br />
    <br />
  
  </body>

</html>
